/* src/styles/AuthModal.css */

.auth-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 2000;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(6px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.auth-form {
    background: #ffffff;
    max-width: 400px;
    width: 90%;
    padding: 2rem;
    border-radius: 8px;
    z-index: 2100;
}

.content-blurred {
    filter: blur(4px);
    pointer-events: none;
    user-select: none;
}